label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 8px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;
}

.btn-lg {
    font-size: 10px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-success {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-success.outline {
    border: 2px solid #4CAF50;
    color: #4CAF50;
}

.btn-success.outline:hover,
.btn-success.outline:focus,
.btn-success.outline:active,
.btn-success.outline.active,
.open>.dropdown-toggle.btn-success {
    color: #4CAF50;
    border-color: #4CAF50;
}

.btn-success.outline:active,
.btn-success.outline.active {
    border-color: #4CAF50;
    color: #4CAF50;
    box-shadow: none;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}